
div.Dashboard {
  margin-left: 18rem;
  margin-top: 3em;

  > h2.headline {
    font-weight: 600;
  }

  > div.TaskBoard-Container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

}